<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="InfoFileAppender" fileName="logs/info.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ErrorFileAppender" fileName="logs/error.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.epam" level="all" additivity="false">
            <AppenderRef ref="InfoFileAppender" level="info"/>
            <AppenderRef ref="ErrorFileAppender" level="error"/>
            <AppenderRef ref="LogToConsole" level="all"/>
        </Logger>

    </Loggers>
</Configuration>